# Data Science Tools and Ecosystem

**Objectives**

- Define some of the popular languages that Data Scientists use
- Define some of the commonly used librarys by Data Scientists
- List 3 Data Scientist Tools
- Use arithmetic expressions

### Este cuaderno tiene el fin de demostrar las habilidades de un cientifico de datos en progreso. En este cuaderno se utilizan varios elementos basicos para la programación para uso de la ciencia de datos del curso Tools For Data Science.

# Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. Java

# Some of the commonly used libraries used by Data Scientists include:

1. Keras
2. Tensor Flow
3. Pytorch

| Data Science Tools | 
| ------------------ |
| Anaconda |
| R studio |
| Jupyter Lab |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [7]:
# This will convert 200 minutes to hours by diving by 60
print(200/60, "hrs")

3.3333333333333335 hrs

## Author:
##### Francisco Javier Espinosa Limón